 html,
 body,
 #map-area {
   //height: 100%;
   //width: 100%;
   margin: 2;
   padding: 2;
   font-family: sans-serif;
 }
 
 body{
   position:relative;
 }
 
.logo-med {
    width: 46px !important;
    height: 22px !important;
    background-image: url(https://js.arcgis.com/3.20/esri/images/map/logo-sm.png) !important;
    }

#landsdlogo {
  display: inline-block;
  vertical-align: bottom;
  width: 25px;
  height: 25px;
  background: url(https://mapapis01.blob.core.windows.net/images/landsdlogo.jpg);
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.esriAttribution {
  background: transparent;
}

#coor{
  position:absolute;
  left:0;
  bottom:0;
  background-color:white;
  padding:2px;
  border:1px solid black;
  font-size:12px;
  display:none;
}

#rightPane{
  margin: 0;
  padding: 10px;
  background-color: #fff;
  color: #421b14;
  width: auto;
  box-shadow:1px 1px 10px #888888;
  position:absolute;
  right:0px;
  top:0px;
  height:auto;
}
}